/* Modal Core Styling */

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.Modal-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5050504a;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.Modal {
    position: relative;
    padding: 1em;
    border-radius: 0.5em;
    background: white;
}

.Modal-close {
    position: absolute;
    top: 0;
    right:0;
}